---
- name: deploy gobble on EC2
  hosts: all
  remote_user: ubuntu
  become_user: ubuntu
  tasks:
    - name: get latest github repo
      git:
        repo: https://github.com/transitmatters/gobble.git
        dest: /home/ubuntu/gobble
        force: yes

    - name: install poetry
      shell: curl -sSL https://install.python-poetry.org | python3 -

    - name: Install the Datadog Agent
      become: yes
      become_user: root
      import_role:
        name: datadog.dd.agent

    - name: copy config file
      copy:
        src: local.json
        dest: /home/ubuntu/gobble/config/local.json

    - name: copy systemd service file
      become: yes
      become_user: root
      copy:
        src: systemd.conf
        dest: /etc/systemd/system/gobble.service

    - name: install app dependencies
      shell: /home/ubuntu/.local/bin/poetry install
      args:
        chdir: /home/ubuntu/gobble

    - name: restart service
      become: yes
      become_user: root
      shell: systemctl restart gobble

    - name: upload events to s3
      ansible.builtin.cron:
        name: upload todays events to s3
        minute: "0, 30"
        job: "cd /home/ubuntu/gobble && /home/ubuntu/.local/bin/poetry run ddtrace-run python3 src/s3_upload.py"

  vars:
    datadog_api_key: "{{ lookup('env', 'DD_API_KEY') }}"
    datadog_site: "datadoghq.com"
