# production
build
data
output

# python
__pycache__

# misc
.DS_Store

# config
config/local.json
.envrc

# environment files (contain secrets!)
.env
.env.local
.env.*.local
config/local/*

# logs
gobble.log
s3_upload.log
