name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Generate AWS profile
        run: |
          mkdir ~/.aws
          cat >> ~/.aws/credentials << EOF
          [transitmatters]
          aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          EOF
          cat >> ./devops/local.json << EOF
          {
            "agency": "mbta",
            "GTFS_ARCHIVES_PREFIX": "https://cdn.mbta.com/archive/",
            "GTFS_ARCHIVES_FILENAME": "archived_feeds.txt",
            "mbta": {
              "v3_api_key": "${{ secrets.MBTA_V3_API_KEY }}"
            },
            "modes": ["cr", "bus"],
            "gtfs": {
              "refresh_interval_days": 7
            },
            "use_gtfs_rt": false,
            "gtfs_rt": {
              "feed_url": null,
              "api_key": null,
              "api_key_method": "header",
              "api_key_param_name": "X-API-KEY",
              "polling_interval": 10
            },
            "DATADOG_TRACE_ENABLED": true
          }
          EOF
      - name: Write SSH key
        run: |
          mkdir ~/.ssh
          cat >> ~/.ssh/transitmatters-gobble.pem << EOF
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOF
          chmod 0600 ~/.ssh/transitmatters-gobble.pem
      - name: Run deploy shell script
        run: cd devops && bash ./deploy.sh -p -c
