name: deploy

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      DD_API_KEY: ${{ secrets.DD_API_KEY }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Generate AWS profile
        run: |
          mkdir ~/.aws
          cat >> ~/.aws/credentials << EOF
          [transitmatters]
          aws_access_key_id = ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_access_key = ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          EOF
          cat >> ./devops/local.json << EOF
          {
            "mbta": {
              "v3_api_key": "${{ secrets.MBTA_V3_API_KEY }}"
            },
            "gtfs": {
              "refresh_interval_days": 7
            },
            "DATADOG_TRACE_ENABLED": true
          }
          EOF
      - name: Write SSH key
        run: |
          mkdir ~/.ssh
          cat >> ~/.ssh/transitmatters-gobble.pem << EOF
          ${{ secrets.SSH_PRIVATE_KEY }}
          EOF
          chmod 0600 ~/.ssh/transitmatters-gobble.pem
      - name: Run deploy shell script
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          cd devops && bash ./deploy.sh -p -c
